<p>Nova inscição no meetup {{ meetupName }}</p>
<p>
  <strong>Participante: {{ user }}</strong><br />
  <strong>Meetup: {{ meetupName }}</strong><br />
  <strong>Data/Hora: {{ date }}</strong>
</p>
